<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<title>Blog</title>
</head>
<body>
  <div>
    <table>
      <tr>
        <td>
          <form th:action="@{header}" method="POST">
            <input type="submit" name="goTop" value="トップへ戻る" />
            <input type="submit" name="write" value="記事を書く" />
            <input type="submit" name="logout" value="ログアウト" />
          </form>
        </td>
      </tr>
    </table>
  </div>
  <h1>MyPageTop</h1>
  <div class="contents">
    <select id="sort" onchange="sortFunction()">
      <option value="1" th:selected="${sortInput} == '1'">新しい順</option>
      <option value="2" th:selected="${sortInput} == '2'">古い順</option>
      <option value="3" th:selected="${sortInput} == '3'">人気順</option>
    </select>
    <form th:action="@{sortFromMyPageTop}" name="sortFromMyPageTop" id="sortForm" method="POST">
      <input type="hidden" name="sortInput" id="sortInput" th:value />
    </form>
    <table>
      <tr>
        <th>日付</th>
        <th>タイトル</th>
        <th>内容</th>
      </tr>
      <tr th:each="blogContent : ${userBean.blogContent}">
        <td th:text="${#dates.format(blogContent.update_time, 'yyyy/MM/dd')}">001</td>
        <td th:text="${blogContent.title}">abc</td>
        <td th:text="${blogContent.content}">aaaaa</td>
        <td>
          <form th:action="@{edit}" method="post">
            <input type="submit" name="edit" value="編集" />
            <input type="hidden" name="id" th:value="${blogContent.id}" />
          </form>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <p>©irie</p>
  </div>
</body>
</html>