<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/parts/fragments::meta">
</head>
<body>
  <h1>MyPageTop</h1>
  <div class="contents">
    <table>
      <tr>
        <th>日付</th>
        <th>タイトル</th>
        <th>内容</th>
      </tr>
      <tr th:each="blogContent : ${userBean.blogContent}">
        <td th:text="${#dates.format(blogContent.update_time, 'yyyy/MM/dd')}">001</td>
        <td th:text="${blogContent.title}">abc</td>
        <td th:text="${blogContent.content}">aaaaa</td>
        <td>
          <form th:action="@{edit}" method="post">
            <input type="submit" name="edit" value="編集" />
            <input type="hidden" name="id" th:value="${blogContent.id}" />
          </form>
      </tr>
    </table>
  </div>
  <div>
    <p>©irie</p>
  </div>
</body>
</html>